[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = true
	editor = vim
    fsmonitor = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
